*[hidden] {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#input>* {
  white-space: pre;
}

.group {
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
}

.line {
  font-size: 20px;
  margin: auto 3px;
  line-height: 40px !important;
  height: 40px;
  display: inline-block;
}

#input * {
  text-decoration: none !important;
}

.lineno {
  background-color: var(--line-no-color);
  color: var(--ineditor-text-color);
  width: 30px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border-top: 2px solid var(--line-no-border);
  border-bottom: 2px solid var(--line-no-border);
  box-sizing: border-box;
  display: inline-block;
  line-height: 36px;
  cursor: pointer;
}

#maincontainer {
  background-color: var(--main-color);
  color: var(--out-unit-color);
}

#menu {
  display: flex;
  flex-direction: column;
}

#headermenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  background-color: var(--header-color) !important;
}

#showraw {
  max-width: 64px;
  height: 48px;
}

#filename {
  margin: 0px 0px;
}

#body>* {
  background-color: var(--background-unit-color);
  color: var(--out-unit-color);
}

.found {
  background-color: #ffff00;
}

#middlearea {
  display: flex;
  flex-direction: column;
}

.inline {
  list-style-type: circle;
  margin: 0px 20px;
}

code {
  background-color: #e9f3f5;
  border: 3px solid #d9e7e8;
  border-radius: 4px;
  padding: 2px 6px;
}

table,
table * {
  color: #000000 !important;
}

table {
  border: 1px solid black;
  background-color: #d0fff8;
  min-width: 256px;
  color: var(--cursor-color);
  margin: 10px;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
  background-color: #d0fff8;
}

td:not(.error) {
  border: 1px solid black;
  padding: 6px 10px;
}

tr:nth-child(odd):not(.error) {
  background-color: #d8fbff;
}

tr:nth-child(even):not(.error) {
  background-color: #bbf8ff;
}

.error,
tr.error td {
  background-color: #ffa5a5 !important;
  color: #000000 !important;
}

.warning,
tr.warning td {
  background-color: #ffe6a5 !important;
  color: #000000 !important;
}

s {
  color: red !important;
  font-weight: bold;
}

caption {
  border: 1px solid black;
  background-color: #d0fff8;
  padding: 6px;
  font-weight: bold;
}

.haserror {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: red;
}

.haswarning {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: #ff9900;
}

#headermenu>button {
  background-color: transparent;
  border: none;
  color: var(--button-text-color) !important;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0px;
  min-width: 100px;
  max-width: none;
  cursor: pointer;
}

#headermenu>a {
  background-color: transparent;
  color: #cfedfe;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

#headermenu>a:visited {
  background-color: transparent;
  color: #85ff81;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

#headermenu>a:hover {
  background-color: transparent;
  color: #81ffe7;
  text-decoration: none;
}

html {
  margin: 0;
  height: 100vh;
  background-color: var(--background-unit-color);
}

#filenamei {
  font-size: 17px;
  background-color: var(--line-no-color);
  width: 200px;
  color: #000000 !important;
}

button {
  background-color: var(--line-no-border);
  border: 1px solid var(--line-no-color);
  min-width: 100px;
  max-width: 101px;
  height: 60px;
  overflow: hidden;
  color: var(--button-text-color) !important;
  font-size: 20px;
  cursor: pointer;
}

#toolbars {
  display: flex;
}

#toolbar,
.imgcontainer {
  display: flex;
  flex-direction: column;
}

button,
input#filenamei {
  padding: 12px;
  margin: 4px;
}

#openfile,
#savefile,
#settings,
#pencolor {
  min-width: 48px;
  min-height: 48px;
}

#palettecolor {
  background-color: var(--line-no-border);
  border: 1px solid;
  width: 48px;
  height: 48px;
}

#setc {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolbars>span,
#toolbars>label {
  align-items: center;
  display: flex;
  margin-right: 5px;
}

#spanc {
  margin-left: 20px;
}

hr {
  background-color: var(--cursor-color) !important;
  border: none !important;
  height: 2px !important;
}

#replacco {
  background: transparent;
  border: none;
  font-size: 15px;
}

#searchg>input,
#replg>input {
  background-color: var(--line-no-color);
  min-height: 32px;
  font-size: 16px;
  color: #000000 !important;
}

input[type="checkbox"] {
  width: 32px;
  display: flex;
  align-items: center;
}

#searchg {
  display: flex;
  flex-direction: column;
}

#searchg[hidden] {
  display: none !important;
}

#searchg>div {
  display: flex;
}

#textregexmode {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#searchi {
  max-height: 20px;
  display: flex;
  position: relative;
  top: 15px;
  margin-left: 10px;
  margin-right: 20px;
}

#replg {
  align-items: center;
  display: flex;
  border-left: none !important;
  border-radius: 0px 4px 4px 0px !important;
  box-sizing: border-box;
  height: 34px;
}

#replg[hidden] {
  display: none !important;
}

#textreplacer {
  background-color: var(--line-no-color);
  min-height: 34px;
  border: 3px solid var(--line-no-border);
  align-items: center;
  display: flex;
  width: 100px;
  justify-content: center;
  margin-left: 10px;
  border-right: 3px dashed var(--line-no-border) !important;
  border-radius: 4px 0px 0px 4px !important;
  box-sizing: border-box;
}

#replt {
  border: 3px solid var(--line-no-border) !important;
  border-left: none !important;
  border-radius: 0px 4px 4px 0px !important;
  box-sizing: border-box;
  height: 34px;
}

hr {
  background-color: var(--main-color) !important;
  border: none !important;
  height: 2px !important;
}

.cursol {
  margin: 15px 0px;
  border-bottom: 3px solid var(--cursol-color);
  height: 10px !important;
  width: 10px !important;
  display: inline-block;
}

.group{
  background-color: var(--background-unit-color);
}

.skip-link {
  position: absolute;
  top: -1000px;
  left: -1000px;
  overflow: hidden;
}

.skip-link:focus,.skip-link:hover{
  top: 20px;
  left: 1px;
  width: 320px;
  height: 50px;
  background-color: var(--line-no-border) !important;
  border-radius: 40px;
  border: 3px solid var(--line-no-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px !important;
  
}
