*[hidden] {
  display: none !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
body > main > #input > * {
  white-space: pre;
}
body > main > .group {
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
}
body > main > .line {
  font-size: 20px;
  margin: auto 3px;
  line-height: 40px !important;
  height: 40px;
  display: inline-block;
}
body > main > #input * {
  text-decoration: none !important;
}
body > main > .lineno {
  background-color: var(--line-no-color);
  color: var(--ineditor-text-color);
  width: 30px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border-top: 2px solid var(--line-no-border);
  border-bottom: 2px solid var(--line-no-border);
  box-sizing: border-box;
  display: inline-block;
  line-height: 36px;
  cursor: pointer;
}
body > main > #maincontainer {
  background-color: var(--main-color);
  color: var(--out-unit-color);
}
body > main > #menu {
  display: flex;
  flex-direction: column;
}
body > main > #headermenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  background-color: var(--header-color) !important;
}
body > main > #showraw {
  max-width: 64px;
  height: 48px;
}
body > main > #filename {
  margin: 0px 0px;
}
body > main > #body > * {
  background-color: var(--background-unit-color);
  color: var(--out-unit-color);
}
body > main > .found {
  background-color: #ffff00;
}
body > main > #middlearea {
  display: flex;
  flex-direction: column;
}
body > main > .inline {
  list-style-type: circle;
  margin: 0px 20px;
}
body > main > code {
  background-color: #e9f3f5;
  border: 3px solid #d9e7e8;
  border-radius: 4px;
  padding: 2px 6px;
}
body > main > table,
body > main > table * {
  color: #000000 !important;
}
body > main > table {
  border: 1px solid black;
  background-color: #d0fff8;
  min-width: 256px;
  color: var(--cursor-color);
  margin: 10px;
  border-collapse: collapse;
}
body > main > tr {
  border: 1px solid black;
  background-color: #d0fff8;
}
body > main > td:not(.error) {
  border: 1px solid black;
  padding: 6px 10px;
}
body > main > tr:nth-child(odd):not(.error) {
  background-color: #d8fbff;
}
body > main > tr:nth-child(even):not(.error) {
  background-color: #bbf8ff;
}
body > main > .error,
body > main > tr.error td {
  background-color: #ffa5a5 !important;
  color: #000000 !important;
}
body > main > .warning,
body > main > tr.warning td {
  background-color: #ffe6a5 !important;
  color: #000000 !important;
}
body > main > s {
  color: red !important;
  font-weight: bold;
}
body > main > caption {
  border: 1px solid black;
  background-color: #d0fff8;
  padding: 6px;
  font-weight: bold;
}
body > main > .haserror {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: red;
}
body > main > .haswarning {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: #ff9900;
}
body > main > #headermenu > main > button {
  background-color: transparent;
  border: none;
  color: var(--button-text-color) !important;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0px;
  min-width: 100px;
  max-width: none;
  cursor: pointer;
}
body > main > #headermenu > main > a {
  background-color: transparent;
  color: #cfedfe;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
body > main > #headermenu > main > a:visited {
  background-color: transparent;
  color: #85ff81;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}
body > main > #headermenu > main > a:hover {
  background-color: transparent;
  color: #81ffe7;
  text-decoration: none;
}
html {
  margin: 0;
  height: 100vh;
  background-color: var(--background-unit-color);
}
body > main > #filenamei {
  font-size: 17px;
  background-color: var(--line-no-color);
  width: 200px;
  color: #000000 !important;
}
body > main > button {
  background-color: var(--line-no-border);
  border: 1px solid var(--line-no-color);
  min-width: 100px;
  max-width: 101px;
  height: 60px;
  overflow: hidden;
  color: var(--button-text-color) !important;
  font-size: 20px;
  cursor: pointer;
}
body > main > #toolbars {
  display: flex;
}
body > main > #toolbar,
body > main > .imgcontainer {
  display: flex;
  flex-direction: column;
}
body > main > button,
body > main > input#filenamei {
  padding: 12px;
  margin: 4px;
}
body > main > #openfile,
body > main > #savefile,
body > main > #settings,
body > main > #pencolor {
  min-width: 48px;
  min-height: 48px;
}
body > main > #palettecolor {
  background-color: var(--line-no-border);
  border: 1px solid;
  width: 48px;
  height: 48px;
}
body > main > #setc {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > main > #toolbars > span,
body > main > #toolbars > label {
  align-items: center;
  display: flex;
  margin-right: 5px;
}
body > main > #spanc {
  margin-left: 20px;
}
body > main > hr {
  background-color: var(--cursor-color) !important;
  border: none !important;
  height: 2px !important;
}
body > main > #replacco {
  background: transparent;
  border: none;
  font-size: 15px;
}
body > main > #searchg > input,
body > main > #replg > input {
  background-color: var(--line-no-color);
  min-height: 32px;
  font-size: 16px;
  color: #000000 !important;
}
body > main > input[type="checkbox"] {
  width: 32px;
  display: flex;
  align-items: center;
}
body > main > #searchg {
  display: flex;
  flex-direction: column;
}
body > main > #searchg[hidden] {
  display: none !important;
}
body > main > #searchg > div {
  display: flex;
}
body > main > #textregexmode {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
body > main > #searchi {
  max-height: 20px;
  display: flex;
  position: relative;
  top: 15px;
  margin-left: 10px;
  margin-right: 20px;
}
body > main > #replg {
  align-items: center;
  display: flex;
  border-left: none !important;
  border-radius: 0px 4px 4px 0px !important;
  box-sizing: border-box;
  height: 34px;
}
body > main > #replg[hidden] {
  display: none !important;
}
body > main > #textreplacer {
  background-color: var(--line-no-color);
  min-height: 34px;
  border: 3px solid var(--line-no-border);
  align-items: center;
  display: flex;
  width: 100px;
  justify-content: center;
  margin-left: 10px;
  border-right: 3px dashed var(--line-no-border) !important;
  border-radius: 4px 0px 0px 4px !important;
  box-sizing: border-box;
}
body > main > #replt {
  border: 3px solid var(--line-no-border) !important;
  border-left: none !important;
  border-radius: 0px 4px 4px 0px !important;
  box-sizing: border-box;
  height: 34px;
}
body > main > hr {
  background-color: var(--main-color) !important;
  border: none !important;
  height: 2px !important;
}
body > main > .cursol {
  margin: 15px 0px;
  border-bottom: 3px solid var(--cursol-color);
  height: 10px !important;
  width: 10px !important;
  display: inline-block;
}
